.header {
    height: 60px;
    background: cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
}

.header a {
    color: white;
    text-decoration: none;
}

.header a[class='active']{
    color: red;
}

.header__links_data{
    width: 70%;
    display: flex;
    justify-content: space-around;
}

.header__links_auth{
    display: flex;
    width: 20%;
    gap: 25px;
}

.user{
    margin-right: 30px;
    font-size: 35px;
}